@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #fff !important;
}

*:not(
    i,
    .icon-comments,
    .icon-star,
    .icon-heart,
    .icon-check,
    .icon-plus-sign,
    .icon-time,
    .icon-remove-circle,
    .icon-globe,
    .icon-twitter-sign,
    .icon-facebook-sign,
    .icon-key
  ) {
  font-family: 'Poppins', sans-serif;
}

i .icon-globe {
  display: none !important;
}

iframe {
  display: none !important;
}

/* Slogan and film logo */

.navbar-filmow .slogan {
  color: #4e4e4e !important;
  background: 0 0;
  font-size: 10px !important;
  line-height: 40px;
  margin-top: 10px !important;
  display: none !important;
}
.navbar-filmow .slogan:hover {
  color: #838383 !important;
  text-decoration: none;
}

.navbar-filmow .brand .slogan {
  margin-top: 10px !important;
}

.navbar-filmow .brand img {
  height: 44px !important;
  background-image: url('./images/new-logo.png') !important;
  z-index: 1000 !important;
  margin-top: 5px !important;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover {
  background-color: #142842 !important;
  text-decoration: none;
  opacity: 0 0 !important;
}

.navbar .nav > .active > a:visited {
  color: #a9b0b3 !important;
}

a {
  text-decoration: none !important;
}

.navbar .dropdown .nav > li > a {
  color: #142842 !important;
}

.navbar .nav > li > a {
  display: block !important;
  color: #4e4e4e !important;
  font-size: 12px !important;
  text-shadow: none !important;
}

nav div .navbar-inner {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  border-top: 5px #142842 !important;
}

.navbar-inner .nav > li > a {
  padding-top: 13px !important;
  padding-right: 25px !important;
  padding-bottom: 13px !important;
  padding-left: 25px !important;
}

/* Header navbar */

[title^='Assistindo Agora'] {
  display: none !important;
}

.navbar-inverse .navbar-inner {
  background-color: #ffff !important;
  background-image: none !important;
  background-repeat: none !important;
  filter: none !important;
  border-color: #ffff;
  font-size: 12px !important;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle {
  background-color: #ffff;
}

div .dropdown {
  font-size: 10px !important;
}

.nav .dropdown-toggle {
  background-color: #fff;
}

.navbar-inner li {
  color: #00ace4 !important;
}

/* Header */

#header {
  background-color: #ffff !important;
  margin-bottom: #142842 20px;
}

.ads-mb-10 {
  margin-bottom: 0px !important;
}

.ads-mt-10 {
  margin-top: 0px !important;
}

.navbar-main .navbar-inner {
  position: relative;
  z-index: 4;
  background-color: #ffff !important;
  font-size: 10px !important;
}

div .navbar-inner .pull-left {
  text-transform: uppercase !important;
  font-size: 12px !important;
}

.nav li.dropdown.open > .dropdown-toggle {
  background-color: none !important;
}

a .dropdown-toggle {
  background-color: #fff !important;
  z-index: -90000 !important;
}

.container-align-items {
  padding-top: 5px !important;
  padding-bottom: 0px !important;
}

.navbar-main {
  border-right: 40px !important;
  padding: 15x !important;
}

.nav-submenu {
  background-color: #d4d9df !important;
  box-shadow: none !important;
  border-bottom: none !important;
}

.nav-submenu .active {
  color: #fff !important;
}

/* Movie section */

.page-section-title-dark:not(.dropdown li) {
  font-size: 8x !important;
}

div .page-section-title-dark {
  background-color: #142842 !important;
}

.page-section-title-dark h2 a {
  margin: 0;
  font-size: 18px !important;
  font-weight: 700 !important;
  line-height: inherit;
  color: #fff;
}
.page-section-title-dark h2 a {
  color: #fff;
}

.container__title-dark .title-section a:hover {
  text-decoration: none !important;
}

.container__title-dark h2 {
  font-size: 12px !important;
}

.btn-title-tag {
  text-transform: lowercase !important;
}

.btn-title-tag .title-section {
  background-color: #142842 !important;
}

/* Movie section */

.page-section-dark {
  background-color: #142842 !important;
  padding-bottom: 20px;
}

img.lazyloaded {
  border-radius: 5px;
  border: none !important;
  border-width: 0 !important;
  border: 0 !important;
  border-radius: 10px !important;
}

div .title-section a {
  color: #4e4e4e !important;
}

div .title-section a:not(.btn-title-tag) {
  font-size: 18px !important;
  font-weight: 700 !important;
  padding-top: 20px !important;
}

span.legend.sn {
  bottom: 10px !important;
  left: 0px !important;
}

span.title {
  font-weight: 400 !important;
  font-size: 11px !important;
}

#filmowgratis.container {
  display: none !important;
}

.home .movies_list {
  margin-left: -7px !important;
}

/* Rating average */

.movie-rating-average {
  background-image: none !important;
  background-color: #f7c259 !important;
  opacity: 0.8;
  border: none !important;
  text-shadow: none !important;
}

/* Dailymotion video */

.container__video-black {
  display: none !important;
}

/* News */
.news__article-main-content {
  background-color: #142842 !important;
  padding: 30px 12px;
}

/* Questionnaire notice */

.btn-warning {
  background-image: none !important;
  background-color: #ee9b1f !important;
  border: none !important;
  text-shadow: none !important;
}

/* Genres */

.sidebar__container-title-genres span {
  font-size: 14px !important;
}

/* Movie advanced search */
.sidebar__container-pattern {
  background-color: #e2ebee !important;
  border: none !important;
}

.badge-num-comments {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3) !important;
}

/* Groups */

.sidebar__container-groups a {
  text-transform: none !important;
}

.group__info {
  align-items: flex-start !important;
}

/* My Filmow */

.sidebar-my-filmow .row .span3 {
  justify-content: center !important;
  margin-right: 0px;
  margin-left: 70px !important;
  padding-right: 0px;
  width: 110px !important;
}

.sidebar-my-filmow .row .span3 a {
  justify-content: center !important;
  margin-right: 0px;
  padding-right: 0px;
  width: 110px !important;
}

.sidebar-my-filmow .row .tab-content {
  padding-top: 25px !important;
}

.sidebar-my-filmow .nav-tabs a {
  padding-right: 8px !important;
  padding-left: 8px !important;
  border-radius: 0px 0px 0px 0px !important;
}

.sidebar-my-filmow .row .avatar {
  margin-left: 0px !important;
  position: absolute !important;
  padding: 0px 0px;
  height: 30px !important;
}

.sidebar-my-filmow .row .avatar-medium {
  border-radius: 50%;
  padding: 0px 0px 0px 0px !important;
}

/* Genres */

.sidebar__container-genres span {
  text-transform: none !important;
}

.sidebar__container-genres {
  border: none !important;
  background-color: #e2ebee !important;
}

/* Birthday sidebar */

.sidebar__container-birthday a {
  text-transform: none !important;
}

/* Footer */

#footer {
  background-color: #142842 !important;
}

#footer .container {
  font-size: 12px !important;
  line-height: 6px !important;
  justify-content: center !important;
  width: 1000px !important;
}

.footer__sub-container {
  width: 1000px !important;
}

/* Taboola below articles */

#taboola-below-article-thumbnails {
  display: none !important;
}

/* Movie profile */

.bg-cover-movie {
  display: none !important;
}

.movie-profile {
  background-color: #142842 !important;
}

.trailer-container {
  background-color: #21a9df !important;
  border-radius: 30px !important;
}

.movie_list_item {
  border: none !important;
  border-radius: 10px;
}

.movie-resume {
  background-color: #142842 !important;
}

.movie-report,
.releases {
  color: #b4bdc0 !important;
}

.navbar-itunes {
  display: none !important;
}

.btn {
  font-size: 12px !important;
}

.running_time {
  color: #000000 !important;
}

.description {
  color: #000000 !important;
}

.release_date {
  color: #000000 !important;
}

.star-rating-container strong {
  float: inherit !important;
}

.movie-resume {
  background-color: #d4d9df !important;
}

.releases {
  color: #19647e !important;
}

.movie-report {
  color: #19647e !important;
}

.movie-other-titles-toggle {
  color: #21a9df !important;
  margin-left: 5px;
  font-size: 12px !important;
}

.movie-details-more {
  background-color: #d4d9df !important;
}

.movie-details-more .span5 {
  float: right;
}

.wrapper img {
  border-radius: 3px !important;
  border: none !important;
}

/* Movie comments */

.form-inline {
  margin-bottom: 0px !important;
}

.commenting-buttons {
  margin-top: 5px;
}

.avatar img {
  border-radius: 50%;
}

.comment-text {
  font-size: 14px !important;
}

.right-content {
  border-left: 0px !important;
}

/* Movie profile sidebar */

.icon-globe {
  margin-left: 5px !important;
}

/* Register page */

.filmow-breadcrumb {
  margin-top: 2px !important;
}

.span8 title-section {
  margin: 5px 0 5px !important;
}

.container {
  border-top: 20px #142842 !important;
}

.navbar-inner {
  margin-bottom: 10px #142842 !important;
}

.span1 img {
  border-radius: 4px;
}

.sidebar-top-movies {
  display: ;
}

.span3 h3 {
  line-height: 25px !important;
}

.sidebar-box .span2 {
  display: inline !important;
}

.tip-user img {
  border-radius: 50% !important;
}

.control-group .email {
  margin-top: 5px !important;
}

.sidebar-last-users {
  padding-top: 35px !important;
}

.span4 {
  margin-bottom: 5px !important;
}

.form-actions {
  background-color: #fff !important;
}
