@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #fff !important;
}

*:not(
    i,
    .icon-comments,
    .icon-star,
    .icon-heart,
    .icon-check,
    .icon-plus-sign,
    .icon-time,
    .icon-remove-circle,
    .icon-globe,
    .icon-twitter-sign,
    .icon-facebook-sign,
    .icon-key
  ) {
  font-family: 'Poppins', sans-serif;
}

i .icon-globe {
  display: none !important;
}

iframe {
  display: none !important;
}

/* Slogan and film logo */

.navbar-filmow .slogan {
  color: #4e4e4e !important;
  background: 0 0;
  font-size: 10px !important;
  line-height: 40px;
  margin-top: 10px !important;
  display: none !important;
}
.navbar-filmow .slogan:hover {
  color: #838383 !important;
  text-decoration: none;
}

.navbar-filmow .brand .slogan {
  margin-top: 10px !important;
}

.navbar-filmow .brand img {
  height: 44px !important;
  background-image: url('./images/new-logo.png') !important;
  z-index: 1000 !important;
  margin-top: 5px !important;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover {
  background-color: #142842 !important;
  text-decoration: none;
  opacity: 0 0 !important;
}

.navbar .nav > .active > a:visited {
  color: #a9b0b3 !important;
}

a {
  text-decoration: none !important;
}

.navbar .dropdown .nav > li > a {
  color: #142842 !important;
}

.navbar .nav > li > a {
  display: block !important;
  color: #4e4e4e !important;
  font-size: 12px !important;
  text-shadow: none !important;
}

nav div .navbar-inner {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  border-top: 5px #142842 !important;
}

.navbar-inner .nav > li > a {
  padding-top: 13px !important;
  padding-right: 25px !important;
  padding-bottom: 13px !important;
  padding-left: 25px !important;
  font-size: 13px !important;
}

/* Header navbar */

[title^='Assistindo Agora'] {
  display: none !important;
}

.navbar-inverse .navbar-inner {
  background-color: #ffff !important;
  background-image: none !important;
  background-repeat: none !important;
  filter: none !important;
  border-color: #ffff;
  font-size: 12px !important;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle {
  background-color: #ffff;
}

.dropdown-menu a {
  font-size: 12px !important;
}

.dropdown-menu .empty {
  font-size: 12px !important;
}

div .dropdown {
  font-size: 10px !important;
}

.nav .dropdown-toggle {
  background-color: #fff;
}

.navbar-inner li {
  color: #00ace4 !important;
}

/* Header */

#header {
  background-color: #ffff !important;
  margin-bottom: #142842 20px;
}

.ads-mb-10 {
  margin-bottom: 0px !important;
}

.ads-mt-10 {
  margin-top: 0px !important;
}

.navbar-main .navbar-inner {
  position: relative;
  z-index: 4;
  background-color: #ffff !important;
  font-size: 10px !important;
}

div .navbar-inner .pull-left {
  text-transform: uppercase !important;
  font-size: 12px !important;
}

.nav li.dropdown.open > .dropdown-toggle {
  background-color: none !important;
}

a .dropdown-toggle {
  background-color: #fff !important;
  z-index: -90000 !important;
}

.container-align-items {
  padding-top: 5px !important;
  padding-bottom: 0px !important;
}

.navbar-main {
  border-right: 40px !important;
  padding: 15x !important;
}

.nav-submenu {
  background-color: #d4d9df !important;
  box-shadow: none !important;
  border-bottom: none !important;
}

.nav-submenu .active {
  color: #fff !important;
}

/* Movie section */

.page-section-title-dark:not(.dropdown li) {
  font-size: 8x !important;
}

div .page-section-title-dark {
  background-color: #142842 !important;
}

.page-section-title-dark h2 a {
  margin: 0;
  font-size: 18px !important;
  font-weight: 700 !important;
  line-height: inherit;
  color: #fff;
}
.page-section-title-dark h2 a {
  color: #fff;
}

.container__title-dark .title-section a:hover {
  text-decoration: none !important;
}

.container__title-dark h2 a {
  font-size: 18px !important;
  color: #21a9df !important;
}

.btn-title-tag {
  text-transform: lowercase !important;
}

.btn-title-tag .title-section {
  background-color: #142842 !important;
}

/* Movie section homepage */

.page-section-dark {
  background-color: #142842 !important;
  padding-bottom: 20px;
}

img.lazyloaded {
  border: none !important;
  border-width: 0 !important;
  border: 0 !important;
  border-radius: 5px !important;
  box-shadow: 3px 3px 3px rgb(0 0 0 / 0.3) !important;
}

div .title-section a {
  color: #4e4e4e !important;
}

div .title-section a:not(.btn-title-tag) {
  font-size: 18px !important;
  font-weight: 700 !important;
  padding-top: 20px !important;
}

span.legend.sn {
  bottom: 6px !important;
  left: 0px !important;
}

span.legend.ws {
  bottom: 6px !important;
  left: 0px !important;
}

span.legend.nw {
  bottom: 6px !important;
  left: 0px !important;
}

span.title {
  font-weight: 400 !important;
  font-size: 11px !important;
}

#filmowgratis.container {
  display: none !important;
}

.home .movies_list {
  margin-left: -7px !important;
}

/* Rating average */

.movie-rating-average {
  background-image: none !important;
  background-color: #f7c259 !important;
  opacity: 0.9;
  border: none !important;
  text-shadow: none !important;
}

/* Dailymotion video */

.container__video-black {
  display: none !important;
}

/* News */
.news__article-main-content {
  background-color: #142842 !important;
  padding: 30px 12px;
}

/* Questionnaire notice */

.btn-warning {
  background-image: none !important;
  background-color: #ee9b1f !important;
  border: none !important;
  text-shadow: none !important;
}

/* Genres */

.sidebar__container-title-genres span {
  font-size: 14px !important;
}

/* Movie advanced search */
.sidebar__container-pattern {
  background-color: #e2ebee !important;
  border: none !important;
}

.badge-num-comments {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3) !important;
}

/* Groups */

.sidebar__container-groups a {
  text-transform: none !important;
}

.group__info {
  align-items: flex-start !important;
}

/* My Filmow */

.sidebar-my-filmow .row .span3 {
  justify-content: center !important;
  margin-right: 0px;
  margin-left: 70px !important;
  padding-right: 0px;
  width: 110px !important;
}

.sidebar-my-filmow .row .span3 a {
  justify-content: center !important;
  margin-right: 0px;
  padding-right: 0px;
  width: 110px !important;
}

.sidebar-my-filmow .row .tab-content {
  padding-top: 25px !important;
}

.sidebar-my-filmow .nav-tabs a {
  padding-right: 8px !important;
  padding-left: 8px !important;
  border-radius: 0px 0px 0px 0px !important;
}

.sidebar-my-filmow .row .avatar {
  margin-left: 0px !important;
  position: absolute !important;
  padding: 0px 0px;
  height: 30px !important;
}

.sidebar-my-filmow .row .avatar-medium {
  border-radius: 50%;
  padding: 0px 0px 0px 0px !important;
}

/* Genres */

.sidebar__container-genres span {
  text-transform: none !important;
}

.sidebar__container-genres {
  border: none !important;
  background-color: #e2ebee !important;
}

/* Birthday sidebar */

.sidebar__container-birthday a {
  text-transform: none !important;
}

/* Footer */

#footer {
  background-color: #142842 !important;
}

#footer .container {
  font-size: 12px !important;
  line-height: 6px !important;
  justify-content: center !important;
  width: 1000px !important;
}

.footer__sub-container {
  width: 1000px !important;
}

/* Taboola below articles */

#taboola-below-article-thumbnails {
  display: none !important;
}

/* Movie profile */

.bg-cover-movie {
  display: none !important;
}

.movie-profile {
  background-color: #142842 !important;
}

.trailer-container {
  background-color: #21a9df !important;
  border-radius: 30px !important;
}

.movie_list_item {
  border: none !important;
  border-radius: 10px;
}

.movie-resume {
  background-color: #142842 !important;
}

.movie-report,
.releases {
  color: #b4bdc0 !important;
}

.navbar-itunes {
  display: none !important;
}

.btn {
  font-size: 12px !important;
}

.running_time {
  color: #000000 !important;
}

.description {
  color: #000000 !important;
}

.release_date {
  color: #000000 !important;
}

.star-rating-container strong {
  float: inherit !important;
}

.movie-resume {
  background-color: #d4d9df !important;
}

.releases {
  color: #19647e !important;
}

.movie-report {
  color: #19647e !important;
}

.movie-other-titles-toggle {
  color: #21a9df !important;
  margin-left: 5px;
  font-size: 12px !important;
}

.movie-details-more {
  background-color: #d4d9df !important;
}

.movie-details-more .span5 {
  float: right;
}
.last-favorites .wrapper img {
  border-radius: 3px !important;
  border: none !important;
  box-shadow: 3px 3px 3px rgb(0 0 0 / 0.3) !important;
}
.movie-status {
  display: none !important;
}

/* Movie comments */

.form-inline {
  margin-bottom: 0px !important;
}

.commenting-buttons {
  margin-top: 5px;
}

.avatar .tip-user img {
  border-radius: 50%;
  box-shadow: 3px 3px 3px rgb(0 0 0 / 0.5) !important;
}

.comment-text {
  font-size: 14px !important;
}

.right-content {
  border-left: 0px !important;
}

/* Movie profile sidebar */

.icon-globe {
  margin-left: 4px !important;
}

.sidebar-box .title-section h4 {
  font-size: 16px !important;
}

/* Register page */

.filmow-breadcrumb {
  margin-top: 2px !important;
}

.span8 title-section {
  margin: 5px 0 5px !important;
}

.container {
  border-top: 20px #142842 !important;
}

.navbar-inner {
  margin-bottom: 10px #142842 !important;
}

.span1 img {
  border-radius: 4px;
}

.span3 h3 {
  line-height: 25px !important;
}

.sidebar-box .span2 {
  display: inline !important;
}
.tip-user img {
  border-radius: 50% !important;
}
.control-group .email {
  margin-top: 5px !important;
}

.sidebar-last-users {
  padding-top: 15px !important;
}

.span4 {
  margin-bottom: 5px !important;
}

.form-actions {
  background-color: #fff !important;
}

/* Movie list page */

.page-section-dark .list_title a {
  color: #fff !important;
}

.tip-user {
  border: none !important;
}

.list_owner_container {
  border-bottom: none !important;
  background-color: #142842 !important;
}

.list_owner_container .filmow-breadcrumb {
  color: #fff !important;
}

.list_owner_container .filmow-breadcrumb .item {
  color: #21a9df !important;
}

.list_owner_container .pull-left {
  color: #fff !important;
}

.list_owner_container .name {
  color: #21a9df !important;
}

.list_owner_container .title {
  color: #fff !important;
}

.list_owner_container .text-right {
  color: #fff !important;
  text-align: center !important;
}

.list_movies_list img {
  border-radius: 3px !important;
  box-shadow: 3px 3px 3px rgb(0 0 0 / 0.3) !important;
}

/* Lists containing movie page */

.lists_about_container {
  background-color: #142842 !important;
}

.lists_about {
  color: #21a9df !important;
}

/* User profile page */

.navbar-user {
  background-color: #21a9df !important;
}

.cover-stats .label {
  background-color: #142842 !important;
}

.last-favorites .page-section-dark-title {
  color: #21a9df !important;
  font-size: 18px !important;
}

.page-section-dark .page-section-dark-text,
.page-section-dark .page-section-dark-text a,
.page-section-dark,
.page-section-dark a {
  color: #9ca0a4 !important;
}

.page-about {
  padding: 5px 10px !important;
  margin: 0px 180px 0px !important;
  border-top-right-radius: 35px !important;
  border-top-left-radius: 35px !important;
}

.title-actions a {
  font-size: 14px !important;
}

.title-section {
  line-height: 40px !important;
}

.my_filmow_stats_wrapper {
  background-color: #d2d9df !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.my_filmow_stats_wrapper .tab-content {
  background-color: #e2ebee !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav-tabs > .active > a:not(.form-post-group) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.movies-list-six-big {
  transform: scale(0.98) !important;
}

.last-seen {
  margin-bottom: 15px !important;
}

.span2 img {
  border-radius: 3px !important;
}

.last-scraps .btn-primary {
  margin-top: 5px !important;
}

.navbar-user .dropdown {
  font-size: 11px !important;
}

.sidebar-last-users {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.sidebar-last-users h4 {
  font-size: 12px !important;
}

.last-scraps {
  margin-top: 35px;
}

.title-actions {
  margin-left: 5px !important;
}

.has-match {
  display: none !important;
}

/* Watched movies page */

.span3 .nav-sidebar > .active > a {
  color: #142842 !important;
}

.nav-sidebar.nav-tabs > li.active > a {
  border: none !important;
}

.span5 .btn {
  margin-top: 5px !important;
}

/* Profile comments page */

.span7 .comments-list-item {
  margin-left: 20px !important;
}

.movie_comment_item .wrapper {
  margin-right: 20px !important;
}

/* Friends list */

.people-list img {
  border-radius: 0% !important;
  border-radius: 3px !important;
}

.sidebar-top-movies {
  margin-top: 25px !important;
}

/* Who watched page */

.my_filmow_stats_wrapper
  .nav-white-filled
  > .nav-tabs
  > li.active
  > a:not(.nav-white-filled) {
  background-color: #e2ebee !important;
}

/* Movie profile comments page */

.navbar-sub .star-rating-container strong {
  color: #fff !important;
  font-weight: 500 !important;
}

.discussions-container {
  border-right: none !important;
}

/* Movie details */

.movie-full-details .lead {
  font-weight: 700 !important;
}

.left-content {
  border: none !important;
}

/* Groups home page */

.wrapper-create-group {
  background-color: #142842 !important;
}

.groups-submenu a {
  text-transform: lowercase !important;
  text-transform: capitalize !important;
}

.groups-submenu a:visited {
  background-color: #3a4b61 !important;
  color: #b2b8bc !important;
}

.groups-submenu a:hover {
  background-color: #142842 !important;
}
.groups-submenu .active:visited {
  color: #b2b8bc !important;
}

.highlight-groups {
  background-color: #142842 !important;
}

.highlight-groups h1 {
  color: #fff !important;
}
.wrapper-create-group p {
  color: #21a9df !important;
  font-size: 16px !important;
  font-weight: 700 !important;
}

.box-groups {
  margin-bottom: 35px !important;
}

.form-post-group > .first {
  background-color: #788693 !important;
}

.form-post-group a:active {
  background-color: #788693 !important;
}

.groups-content .filmow-breadcrumb {
  margin-top: 30px !important;
}

.create-post-form {
  box-shadow: 5px 5px 5px rgb(0 0 0 / 0.3) !important;
}

.chars-remaining {
  margin-right: 10px !important;
}

.box-members ul {
  border: none !important;
}

.box-members img {
  border: none !important;
  border-radius: 50%;
  box-shadow: 3px 3px 3px rgb(0 0 0 / 0.5) !important;
}

/* Movies page */

.title-section small {
  display: none !important;
}

.sidebar-last-users img {
  border-radius: 50% !important;
}

#header {
  border-bottom: 1px solid #d4d9df !important;
}

/* Artist profile page */

.artist-header {
  background-color: #142842 !important;
}

.artist-header .alternative-names {
  color: #fff !important;
}

.artist-header .sidebar-left .box-title {
  display: none !important;
}

.artist-header .sidebar-left .box-title span {
  display: none !important;
}

.artist-header .movies_list {
  margin-left: 30px !important;
}

.navbar-sub {
  background-color: #21a9df !important;
}

.artist-profile .filmow-breadcrumb {
  margin-top: 10px !important;
}

.total-count {
  border-radius: 5px !important;
}

.artist-avatars img {
  border: none !important;
}

.box-photo-list {
  margin-bottom: 40px !important;
}

.box-worked-artist .span4 {
  border-bottom: none !important;
  background: none !important;
}

.artist-profile .sidebar-right {
  min-height: 1px !important;
  background-color: #e7eef5 !important;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.box-worked-artist .tip-artist img {
  border: none !important;
  border-radius: 3px !important;
}

.box-worked-artist {
  margin-bottom: 40px !important;
}

.news-list li {
  border-bottom: none !important;
}

.box-related-news {
  margin-bottom: 40px !important;
}

.box-list-fans .span4 {
  border-top: none !important;
}

.box-list-fans img {
  box-shadow: 3px 3px 3px rgb(0 0 0 / 0.5) !important;
}

.page-artists-photos .sidebar-right {
  display: none !important;
}

.page-artists-related-content .sidebar-right {
  display: none !important;
}

.page-artists-related-content .sidebar-left {
  padding: 0px 65px !important;
}

.page-artists-fans .sidebar-right {
  display: none !important;
}

.box-title span {
  display: none !important;
}

.box-title {
  margin-top: 20px !important;
  font-size: 1.2em !important;
  font-weight: 700 !important;
  color: #323232 !important;
  text-transform: uppercase;
}

.box-bibliography .movies_list {
  margin: auto !important;
}

#as-cast {
  border-bottom: 0px !important;
}

#as-director {
  border-bottom: 0px !important;
}

#as-writer {
  border-bottom: 0px !important;
}

#as-director {
  border-bottom: 0px !important;
}

.media-heading {
  margin-bottom: 0px !important;
}

/* General */

.control-group {
  margin-bottom: 30px !important;
}

.quem-ja-viu img {
  border: none !important;
  box-shadow: 2px 2px 2px rgb(0 0 0 / 0.3);
}

.quem-quer-ver img {
  border: none !important;
  box-shadow: 2px 2px 2px rgb(0 0 0 / 0.3);
}

.quem-nao-quer-ver img {
  border: none !important;
  box-shadow: 2px 2px 2px rgb(0 0 0 / 0.3);
}

.quem-marcou-como-favorito img {
  border: none !important;
  box-shadow: 2px 2px 2px rgb(0 0 0 / 0.3);
}

.quem-ja-avaliou img {
  border: none !important;
  box-shadow: 2px 2px 2px rgb(0 0 0 / 0.3);
}

.media-body .icon-heart {
  color: #ca0000 !important;
}

.sidebar-my-filmow {
  margin-top: 30px !important;
}

.icon-flag {
  color: #b94a48 !important;
}

.btn-friendship-actions {
  margin-left: 5px !important;
}

.tab-pane .tip-movie img {
  border-radius: 3px !important;
}

.my-activities .nav-white-filled .tab-content-page {
  border-right: none !important;
}

.user-sidebar-activities {
  border-left: none !important;
}

.tab-pane .comments-list-item {
  margin-top: 20px !important;
}

.tab-pane .image-profile img {
  object-fit: cover !important;
  aspect-ratio: 1/1 !important;
  border: none !important;
  border-radius: 50% !important;
  box-shadow: 1px 1px 1px rgb(0 0 0 / 0.3);
}

.span6 .description p {
  margin-bottom: 50px !important;
}

.navbar-user a {
  color: #fff !important;
}

.desc-profile {
  display: none !important;
}

.user-sidebar-activities {
  margin-top: 0px !important;
}

.icon-ok-sign {
  transform: scale(0.7) !important;
}
